<md-toolbar layout="row" class="md-hue-3">
  <div class="md-toolbar-tools">
    <span>Products</span>
  </div>
</md-toolbar>

<md-content>
    <md-list flex>
    <md-subheader class="md-no-sticky">Products listing in database</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="p in products" ui-sref="doProductEdit({product_id: p.product_id})">
            <div class="md-list-item-text" layout="column">
                <h3>{{ p.name }}</h3>
                <p>{{ p.description }}</p>
            </div>
             <md-icon class="md-secondary" aria-label="delete" md-font-library="material-icons" ng-click="deleteProduct(p)">delete</md-icon>       
        </md-list-item>

    </md-list>


</md-content>

    <md-button ui-sref="doAddNewProduct" class="md-raised md-primary">Add new product</md-button>
