
<md-content layout-padding>
    <div>
        <form class="form-horizontal" role="form" ng-submit="addProductImage({product_id: product.product_id})">  
          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
              <label>Type</label>
              <input type="text" ng-model="image.type">
            </md-input-container>
          </div>

           <md-input-container class="md-block" flex-gt-xs>

              <lf-ng-md-file-input lf-files="files" lf-api="api01" ng-disabled="disabled01"></lf-ng-md-file-input>

            </md-input-container>

            <md-button type="submit" class="md-raised md-primary">Submit</md-button>


        </form>
    </div>
</md-content>