<md-content layout-padding>
    <div>
        <form class="form-horizontal" role="form" ng-submit="updateProduct()">        
            <div ng-include="'/static/partials/product-form.html'"></div>
        </form>

        <md-button class="md-raised" ng-click="showImages(product)">Show Images</md-button>
        <md-button class="md-raised" ui-sref="doAddChildProduct({product_id: product.product_id})">Add New Child Product</md-button>
    </div>

    <div ng-include="'/static/partials/child-product-list.html'"></div>
</md-content>