<md-content>
    <md-list flex>
        <md-list-item class="md-2-line" ng-repeat="p in child_products" ui-sref="doProductEdit({product_id: p.product_id})">
            <div class="md-list-item-text" layout="column">
                <h3>{{ p.name }}</h3>
                <p>{{ p.description }}</p>
            </div>
             <md-icon class="md-secondary" aria-label="delete" md-font-library="material-icons" ng-click="deleteProduct(p)">delete</md-icon>       
        </md-list-item>

    </md-list>    
</md-content>
