<div layout-gt-xs="row">
  <md-input-container class="md-block" flex-gt-xs>
    <label>Name</label>
    <input type="text" ng-model="product.name">
  </md-input-container>
</div>

<md-input-container class="md-block" flex-gt-xs>
    <label>Description</label>
    <textarea ng-model="product.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
</md-input-container>

<md-input-container class="md-block" flex-gt-xs>
    <label>Parent product</label>
    <md-select ng-model="product.parent_product_id">
      <md-option ng-repeat="p in parent_products" value="{{p.product_id}}">
        {{p.name}}
      </md-option>
    </md-select>
</md-input-container>

<md-button type="submit" class="md-raised md-primary">Submit</md-button>

          



