<md-toolbar layout="row" class="md-hue-3">
  <div class="md-toolbar-tools">
    <span>Product: {{ product.name }}</span>
  </div>
</md-toolbar>


<md-content>
   <md-list flex>
    <md-subheader class="md-no-sticky">Imageset</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="i in images">
            <div class="md-list-item-text" layout="column">
                <h3>{{ i.type }}</h3>
            </div>
             <md-icon class="md-secondary" aria-label="delete" md-font-library="material-icons" ng-click="deleteImage({image_id: i.image_id})">delete</md-icon>       
             <img src="{{ i.content }}" style="max-width: 150px; max-height: 150px">
        </md-list-item>

    </md-list>
    <md-button class="md-raised" ui-sref="doProductImageAdd({product_id: product.product_id})">Add new image</md-button>
</md-content>