<md-content layout-padding>
    <div>
        <form class="form-horizontal" role="form" ng-submit="addProduct()">        
            <div ng-include="'/static/partials/product-form.html'"></div>
        </form>
    </div>
</md-content>