<md-toolbar layout="row" class="md-hue-3">
  <div class="md-toolbar-tools">
    <span>Parent Product: {{ parent_product.name }}</span>
  </div>
</md-toolbar>

<md-content layout-padding>
    <div>
        <form class="form-horizontal" role="form" ng-submit="addChildProduct()">
            <div ng-include="'/static/partials/product-form.html'"></div>
        </form>
    </div>
</md-content>